@model IEnumerable<LuceneNetCoreTest.Models.Resort>
@{
	ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">Search for a Hotel using Lucene.NET on .NET Core</h1>
		<div class="card-deck">
			@foreach (var item in Model)
			{
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">@item.ResortName</h5>
						<p class="card-text">@item.ResortDescription</p>
					</div>
				</div>
			}
		</div>
	</div>
